.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
resources/dark
resources/martor-description.css
resources/style.css
resources/vars.scss
sass_processed
node_modules
resources/select2-dmoj.css
static
websocket
bridgelog.log
install_done
package-lock.json
package.json
